.wrapper {
    position: relative;
    padding-bottom: 45px;
    min-height: 100vh;
}

.navbar-container {
background-color: #161618;
}

.jumbotron-container {
    background-color:#e7204e;
    color: white;
}

.footer-container {
    background-color: #161618;
    color: white;
    min-height: 35px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.footer-text {
    margin: auto;
}